{% extends 'base.html.twig' %}

{% block title %}Historique de location
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<h2>Historique des Réservations Payées</h2>
		<table>
			<thead>
				<tr>
					<th>Date de Début</th>
					<th>Nombre de Jours</th>
					<th>Prix Total</th>
					<!-- Ajoutez d'autres colonnes selon vos besoins -->
				</tr>
			</thead>
			<tbody>
				{% for rent in paidRents %}
					<tr>
						<td>{{ rent.startDate|date('Y-m-d') }}</td>
						<td>{{ rent.numDays }}</td>
						<td>{{ rent.totalPrice }}</td>
						<!-- Affichez d'autres propriétés de rent selon vos besoins -->
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
