{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}

	<div class="hero hero-inner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto text-center">
					<div class="intro-wrap">
						<h1 class="mb-0">Mentions Légales</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Mentions légales</h2>
					<br>
					<p style="text-align:justify;">
						Attention : ceci c'est un projet étudiant fictif, pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué													.
					</p>
					<br>
					<p style="text-align:justify;">Bienvenue sur AtypikHouse, le site web spécialisé dans la location d'hébergements insolites et atypiques en France et en Europe.</p>
					<br>
					<h3>
						Éditeur du Site
					</h3>
					<br>
					<p style="text-align:justify;">Le site web AtypikHouse est édité par la société AtypikHouse, SARL au capital de 10 000 euros, dont le siège social est situé au 12 rue Jobbé Duval, Pierrefonds 60350, France.</p>
					<br>
					<ul>
						<li>Dénomination sociale : AtypikHouse</li>
						<li>Forme juridique : Société à responsabilité limitée (SARL)</li>
						<li>Capital social : 10 000 euros</li>
						<li>Adresse du siège social : 12 rue Jobbé Duval, Pierrefonds 60350, France</li>
						<li>Numéro RCS : Compiègne B 314 456 456</li>
						<li>Numéro SIREN : 9046571813</li>
						<li>Numéro SIRET : 90762181600041</li>
						<li>Code APE/NAF : 5740A</li>
						<li>Numéro de TVA intracommunautaire : FR449076512342</li>
					</ul>
					<br>
					<h3>
						Responsable de publication
					</h3>
					<br>
					<p style="text-align:justify;">Le responsable de la publication du site AtypikHouse est [Nom et Prénom du Responsable], agissant en qualité de [Titre du Responsable] de la société AtypikHouse.</p>
					<br>
					<h3>
						Hébergement du Site
					</h3>
					<br>
					<p style="text-align:justify;">[Inclure ici les informations sur l'hébergeur du site, y compris le nom de l'entreprise, l'adresse du siège social, le numéro de téléphone, et le numéro RCS s'il y a lieu.]</p>
					<br>
					<h3>
						Propriété Intellectuelle
					</h3>
					<br>
					<p style="text-align:justify;">Le contenu du site AtypikHouse, incluant les textes, graphiques, images, logos, icônes et sons, est la propriété exclusive de la société AtypikHouse, sauf mentions contraires. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit d'AtypikHouse.</p>
					<br>
					<h3>
						Données Personnelles
					</h3>
					<br>
					<p style="text-align:justify;">Pour les besoins de la navigation sur le site web, AtypikHouse peut collecter les données personnelles de ses utilisateurs. Conformément à la loi Informatique et Libertés et au RGPD, chaque utilisateur dispose d'un droit d'accès, de rectification, d'opposition, de limitation du traitement et de suppression des données le concernant.</p>
					<p style="text-align:justify;">Pour exercer ces droits, l'utilisateur peut adresser sa demande à AtypikHouse à l'adresse suivante : 12 rue Jobbé Duval, Pierrefonds 60350, France, ou par email à contact@aytipkhouse.com</p>
					<br>
					<h3>
						Modification des Mentions Légales
					</h3>
					<br>
					<p style="text-align:justify;">AtypikHouse se réserve le droit de modifier les mentions légales à tout moment. Les utilisateurs sont invités à les consulter régulièrement pour se tenir informés des changements.</p>
					<br>
					<h3>
						Contact
					</h3>
					<br>
					<p style="text-align:justify;">Pour toute question ou demande d'information concernant le site, ou toute déclaration relative aux mentions légales, veuillez contacter AtypikHouse à [adresse email] ou par courrier postal à l'adresse du siège social mentionnée ci-dessus.</p>
					<br>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
