.body {
  color: rgb(21, 20, 20);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 160px;
  width: 150px;
  /* Réduit la taille du logo; */
  height: auto;
  /* Conserve les proportions du logo */
  z-index: 1000;
  /* Assure que le logo reste au-dessus des autres éléments */
}

.logo-footer {
  margin-bottom: 20px;
  width: 100px;
  margin-left: 15px;
  position:relative;
}

.hero {
  background: #7C8718;
}

.hero h1 .typed-words:before {
  background-color: #B3B764;
}

.hero.hero-inner {
  background: #0D3125;
}

/* Pour un texte sur fond clair */
.text-on-light-background {
  color: #0D3125;
}

/* Pour un texte sur fond foncé */
.text-on-dark-background {
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .hero {
    padding: 5rem 0;
    /* Réduit l'espacement pour les écrans plus petits */
  }

  .site-footer .inner {
    padding-bottom: 40px;
    /* Ajustement pour le pied de page sur les petits écrans */
  }
}

.hero .slides img {
  max-width: 100%;
  /* Assurez-vous que les images ne dépassent pas leur conteneur */
  height: auto;
  /* Maintient le rapport de l'image */
}

.hero .slides {
  overflow: hidden;
  /* Empêche les débordements */
  position: relative;
  /* Positionne correctement les images à l'intérieur */
  width: 100%;
  /* ou une largeur spécifique si nécessaire */
  /*height: auto; /* ajuste la hauteur au contenu */
}

.hero .slides img {
  position: absolute;
  top: 0;
  left: 0;
}

.btn.btn-primary {
  background: #3A91AF;
  border-color: #3A91AF;
}

.btn.btn-primary:hover {
  border-color: #66b7d2;
  background: #66b7d2;
}

.control input:checked~.control__indicator {
  background: #3A91AF;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #3A91AF;
  border-color: transparent;
  color: #fff;
}

/* image - section - qui sommes nous - homepage */
.feature-img-bg {
  background-size: cover;
  background-position: center;
  height: 350px;
  /* ajustez la hauteur selon vos besoins */
  width: 100%;
  /* pour s'assurer que la div prend toute la largeur */
}

.counter-wrap .counter span {
  color: rgb(21, 20, 20);
}

/* footer - basehtml */
.site-footer ul.quick-info li:before {
  left: 0;
  position: absolute;
  content: "";
  font-family: 'icomoon';
  color: #3A91AF;
}

.site-footer .widget .social li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3A91AF;
  display: inline-block;
  position: relative;
  color: #ffffff;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
}