{% extends 'base.html.twig' %}

{% block title %}CVG
{% endblock %}

{% block body %}

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<div class="hero hero-inner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto text-center">
					<div class="intro-wrap">
						<h1 class="mb-0">CGV</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Conditions Générales de Vente</h2>
					<p style="text-align:justify;">Attention : ceci c'est un projet étudiant fictif, pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué.</p>
					<br>
					<h3>
						1. Champ d'Application
					</h3>
					<br>
					<p style="text-align:justify;">Les présentes Conditions Générales de Vente (ci-après, « CGV ») s'appliquent à toutes les ventes conclues par AtypikHouse, une société spécialisée dans la location de hébergements insolites et atypiques à travers la France et l'Europe, via son site web atypikhouse.com.</p>
					<br>
					<h3>
						2. Descriptions des Services
					</h3>
					<br>
					<p style="text-align:justify;">AtypikHouse propose à la location une sélection d'hébergements insolites et atypiques. Chaque hébergement est décrit de manière détaillée sur le site web de la société.</p>
					<br>
					<h3>
						3. Tarifs
					</h3>
					<br>
					<p style="text-align:justify;">Les prix des locations sont indiqués en euros, toutes taxes comprises. AtypikHouse se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur indiqués au moment de la réservation.</p>
					<br>
					<h3>
						4. Réservation et Paiement
					</h3>
					<br>
					<p style="text-align:justify;">La réservation d'un hébergement se fait exclusivement via le site web de AtypikHouse. Le paiement intégral est exigé au moment de la réservation.</p>
					<br>
					<h3>
						5. Annulation et Modification
					</h3>
					<br>
					<p style="text-align:justify;">Toute demande d'annulation ou de modification doit être adressée à AtypikHouse dans les délais spécifiés sur le site web. Selon les conditions d'annulation appliquées à votre réservation, un remboursement partiel ou total pourra être effectué.</p>
					<br>
					<h3>
						6. Obligations du Locataire
					</h3>
					<br>
					<p style="text-align:justify;">Le locataire s'engage à utiliser l'hébergement de manière responsable. Toute dégradation ou problème survenu durant le séjour doit être immédiatement signalé à AtypikHouse.</p>
					<br>
					<h3>
						7. Responsabilité
					</h3>
					<br>
					<p style="text-align:justify;">AtypikHouse ne saurait être tenu responsable des dommages indirects qui pourraient survenir du fait de la location. La responsabilité de AtypikHouse est limitée au montant de la location payée par le locataire
					</p>
					<br>
					<h3>
						8. Propriété Intellectuelle
					</h3>
					<br>
					<p style="text-align:justify;">Tous les éléments du site web de AtypikHouse, y compris les textes, graphismes et logos, sont la propriété de la société et sont protégés par les lois sur la propriété intellectuelle.</p>
					<br>
					<h3>
						9. Données Personnelles
					</h3>
					<br>
					<p style="text-align:justify;">AtypikHouse s'engage à protéger les données personnelles de ses clients conformément à la réglementation en vigueur.</p>
					<br>
					<h3>
						10. Litiges
					</h3>
					<br>
					<p style="text-align:justify;">Tout litige relatif à l'interprétation et à l'exécution de ces CGV est soumis au droit français et sera porté devant les tribunaux compétents.<p/>
					<br>
					<h3>
						11. Modification des CGV
					</h3>
					<br>
					<p style="text-align:justify;">AtypikHouse se réserve le droit de modifier les présentes CGV à tout moment. La version la plus récente des CGV sera toujours disponible sur le site web de la société.</p>
					<br>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
