{% extends 'base.html.twig' %}

{% block title %}FAQ
{% endblock %}

{% block body %}
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<div class="hero hero-inner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto text-center">
					<div class="intro-wrap">
						<h1 class="mb-0">FAQ</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Foire Aux Questions</h2>
					<p style="text-align:justify;">Attention : ceci c'est un projet étudiant fictif, pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué.</p>
					<br>
					<p style="text-align:justify;">Bienvenue sur la page FAQ d'AtypikHouse, votre plateforme de référence pour la location d'hébergements insolites et atypiques en France et en Europe. Trouvez ci-dessous les réponses aux questions les plus fréquemment posées.
					</p>
					<br>
					<h3 class="section-title text-center mb-3">
						Généralités
					</h3>
					<br>
					<h4>
						Qui sommes-nous ?
					</h4>
					<br>
					<p style="text-align:justify;">AtypikHouse est une SARL située au 12 rue Jobbé Duval, Pierrefonds 60350, spécialisée dans la location d'hébergements uniques et insolites à travers la France et l'Europe. Notre mission est de vous offrir des séjours inoubliables dans des lieux hors du commun.</p>
					<br>
					<h4>
						Comment contacter AtypikHouse ?
					</h4>
					<br>
					<p style="text-align:justify;">Pour toute question ou demande, vous pouvez nous contacter via notre formulaire de contact sur le site, par email à contact@atypikhouse.com, ou par téléphone au 01 23 45 67 89.</p>
					<br>
					<h3 class="section-title text-center mb-3">
						Réservations
					</h3>
					<br>
					<h4>
						Comment réserver un hébergement sur AtypikHouse ?
					</h4>
					<br>
					<p style="text-align:justify;">Pour réserver, il suffit de choisir votre hébergement, de sélectionner vos dates, puis de suivre les instructions de paiement. Une confirmation vous sera envoyée par email une fois la réservation effectuée.</p>
					<br>
					<h4>
						Puis-je annuler ma réservation ?
					</h4>
					<br>
					<p style="text-align:justify;">Oui, les conditions d'annulation varient selon l'hébergement choisi. Nous vous conseillons de lire attentivement les conditions spécifiques de votre réservation.</p>
					<br>
					<h3 class="section-title text-center mb-3">
						Hébergements
					</h3>
					<br>
					<h4>
						Comment sont sélectionnés les hébergements sur AtypikHouse ?
					</h4>
					<br>
					<p style="text-align:justify;">Nos hébergements sont soigneusement sélectionnés pour leur caractère insolite et leur qualité. Chaque hébergement est évalué selon plusieurs critères, tels que son originalité, son confort et son intégration dans l'environnement.</p>
					<br>
					<h4>
						Que faire si j'ai un problème avec mon hébergement ?
					</h4>
					<br>
					<p style="text-align:justify;">En cas de problème, nous vous invitons à contacter immédiatement notre service clientèle. Nous mettrons tout en œuvre pour résoudre votre problème dans les plus brefs délais.</p>
					<br>
					<h3 class="section-title text-center mb-3">
						Informations Juridiques
					</h3>
					<br>
					<h4>
						Quelles sont les informations légales d'AtypikHouse ?
					</h4>
					<br>
					<ul style="text-align:justify;">
						<li>Dénomination sociale : AtypikHouse SARL</li>
						<li>Siège social : 12 rue Jobbé Duval, Pierrefonds 60350</li>
						<li>Statut juridique : SARL</li>
						<li>Capital social : 10 000 euros</li>
						<li>Numéro RCS : Compiègne B 314 456 456</li>
						<li>Numéro SIREN : 9046571813</li>
						<li>Numéro SIRET : 90762181600041</li>
						<li>Numéro APE/naf : 5740A</li>
						<li>Numéro de TVA intracommunautaire : FR449076512342</li>
					</ul>
					<br>
					<h4>
						Comment AtypikHouse garantit-elle la sécurité des transactions ?
					</h4>
					<br>
					<p style="text-align:justify;">Toutes les transactions sont sécurisées grâce à des protocoles de cryptage avancés. Nous travaillons également avec des prestataires de paiement reconnus pour garantir la sécurité de vos données bancaires.</p>
					<br>
					<h3 class="section-title text-center mb-3">
						Autres Questions
					</h3>
					<br>
					<h4>
						Puis-je laisser un avis sur un hébergement ?
					</h4>
					<br>
					<p style="text-align:justify;">Oui, après votre séjour, vous êtes invités à laisser un avis sur l'hébergement et votre expérience. Votre retour est précieux pour nous aider à améliorer nos services et pour guider les futurs voyageurs.</p>
					<p style="text-align:justify;">Pour toute autre question non abordée dans cette FAQ, n'hésitez pas à nous contacter directement.<p/></p>
					<br>
			</div>
		</div>
	</div>
</div>{% endblock %}
