{% extends 'base.html.twig' %}

{% block title %}
	Réservation
{% endblock %}

{% block body %}
	<h2>Réservation
	</h2>
	<form class="text-center"
		action="{{ path('app_payer') }}" method="post">
		{# Ajoutez ici les champs du formulaire nécessaires pour le paiement #}
		<input type="hidden" name="houseId" value="{{ house.id }}">
		<div class="form-floating">
			<input type="text" name="numCarte" placeholder="Numéro de carte">
		</div>
		<div class="form-floating">
			<input type="text" name="cvc" placeholder="CVC">
		</div>
		<div class="form-floating">
			<input type="text" name="dateExp" placeholder="Date d'expiration">
		</div>
		<div class="form-floating">
			<button type="submit">Payer</button>
		</div>
	</form>

{% endblock %}
