{% extends 'base.html.twig' %}

{% block title %}AtypikHouse Hébergements Insolites et Atypiques
{% endblock %}

{% block meta_description %}Découvrez AtypikHouse : hébergements insolites pour une expérience unique. Cabanes, yourtes, tiny houses. Réservez dès maintenant pour une escapade mémorable en pleine nature ! Offrez-vous une pause atypique.{% endblock %}

{% block body %}
	<div class="hero">
		<div class="hero-slide">
			<div class="img overlay" style="background-image: url('images/hero_bg_1.jpg')"></div>
		</div>
		<div class=" container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-9 text-center">
					<h1 class="heading" data-aos="fade-up">Vivrez une expérience
						<span class="typed-words"></span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">

			<div class="row mb-5 justify-content-center">
				<h2 class="section-title text-center mb-3">Nous nouveautés insolites</h2>
			</div>

			<div class="row">

				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-1.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">La petite cabane
									</a>
								</h3>
								<p>Petite cabane moderne avec hamac: Un havre de paix élégant en forêt, combinant une structure en rondins contemporaine avec le confort d'un hamac invitant, parfait pour se détendre au milieu des murmures des pins.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-2.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Cabane flottante</a>
								</h3>
								<p>Maisonnette flottante éco-responsable: Ce refuge aquatique charmant offre l'autonomie avec ses panneaux solaires, tout en proposant un intérieur douillet et des vues imprenables sur le lac et les forêts colorées au coucher du soleil.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-3.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Cabane conte de fées en forêt</a>
								</h3>
								<p>Cette maisonnette pittoresque, émergeant d'un écrin de verdure, semble tout droit sortie d'un livre de contes avec son toit en bardeaux et sa porte en bois rustique, promettant une escapade magique et intime au cœur de la nature.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-4.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Dôme perché</a>
								</h3>
								<p>Dôme forestier perché pour une escapade nature: Ce nid douillet, en forme de dôme, est équipé de tout le confort moderne – y compris électricité, chauffage et sanitaires complets – et possède une terrasse pour s'immerger dans la verdure et la tranquillité de la forêt.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="untree_co-section" id="a-propos">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Qui sommes nous ?</h2>
					<p>Originaires de Pierrefonds dans l’Oise et liés par une amitié forgée depuis l’enfance, Michel, Sandrine et Matthieu se réunissaient chaque week-end pour des promenades en forêt. AtypikHouse, représente la passion commune pour les voyages, les habitats alternatifs et une vie en harmonie avec la nature. Bien plus qu’une simple entreprise, il s’agit de la concrétisation d’un rêve nourri au fil des années et épanoui au cours de divers périples.</p>
					<div class="feature-img-bg h-100" style="background-image: url('images/jonny-kennaugh-unsplash.jpg');"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="untree_co-section">
		<div class="container"></div>
	</div>


	<div class="untree_co-section count-numbers py-5">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="1086">0</span>
						</div>
						<span class="caption">Nombre d'expériences</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="1586">0</span>
						</div>
						<span class="caption">Nombre d'atypiques</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="30">0</span>
						</div>
						<span class="caption">Nombre de nouveautés</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="126">0</span>
						</div>
						<span class="caption">Nombre de villes</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="untree_co-section testimonial-section mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<h2 class="section-title text-center mb-5">Ils racontent leurs expériences</h2>

					<div class="owl-single owl-carousel no-nav">
						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="images/1-person-alexandr-podvalny-unsplash.jpg" alt="Image" class="img-fluid">
							</figure>
							<h3 class="name">Andre Simon</h3>
							<blockquote>
								<p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>

						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="images/2-person-candice-picard-unsplash.jpg" alt="Image" class="img-fluid">
							</figure>
							<h3 class="name">
								Aimée Bourgain</h3>
							<blockquote>
								<p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>

						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="images/3-person-brooke-cagle-unsplash.jpg" alt="Image" class="img-fluid">
							</figure>
							<h3 class="name">
								Martine Dumont
							</h3>
							<blockquote>
								<p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
