{% extends 'base.html.twig' %}

{% block title %}AtypikHouse Hébergements Insolites et Atypiques
{% endblock %}

{% block body %}
	<div class="hero">
		<div class="hero-slide">
			<div class="img overlay" style="background-image: url('images/hero_bg_1.jpg')"></div>
		</div>
		<div class=" container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-9 text-center">
					<h1 class="heading" data-aos="fade-up">Vivrez une expérience
						<span class="typed-words"></span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">

			<div class="row mb-5 justify-content-center">
				<h2 class="section-title text-center mb-3">Nous nouveautés insolites</h2>
			</div>

			<div class="row">

				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-1.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Cabane
									</a>
								</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-2.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Cabane sur pilotis</a>
								</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-3.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Petit Chalet</a>
								</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-3">
					<div class="media-1">
						<a href="#" class="d-block mb-3"><img src="images/hero-slider-4.jpg" alt="Image" class="img-fluid"></a>
						<div class="d-flex">
							<div>
								<h3>
									<a href="#">Cabane perchée</a>
								</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="untree_co-section" id="a-propos">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Qui sommes nous ?</h2>
					<p>Originaires de Pierrefonds dans l’Oise et liés par une amitié forgée depuis l’enfance, Michel, Sandrine et Matthieu se réunissaient chaque week-end pour des promenades en forêt. AtypikHouse, représente la passion commune pour les voyages, les habitats alternatifs et une vie en harmonie avec la nature. Bien plus qu’une simple entreprise, il s’agit de la concrétisation d’un rêve nourri au fil des années et épanoui au cours de divers périples.</p>
					<div class="feature-img-bg h-100" style="background-image: url('images/jonny-kennaugh-unsplash.jpg');"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="untree_co-section">
		<div class="container"></div>
	</div>


	<div class="untree_co-section count-numbers py-5">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="1086">0</span>
						</div>
						<span class="caption">Nombre d'expériences</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="1586">0</span>
						</div>
						<span class="caption">Nombre d'atypiques</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="30">0</span>
						</div>
						<span class="caption">Nombre de nouveautés</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="126">0</span>
						</div>
						<span class="caption">Nombre de villes</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="untree_co-section testimonial-section mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<h2 class="section-title text-center mb-5">Ils racontent leurs expériences</h2>

					<div class="owl-single owl-carousel no-nav">
						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="images/1-person-alexandr-podvalny-unsplash.jpg" alt="Image" class="img-fluid">
							</figure>
							<h3 class="name">Andre Simon</h3>
							<blockquote>
								<p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>

						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="images/2-person-candice-picard-unsplash.jpg" alt="Image" class="img-fluid">
							</figure>
							<h3 class="name">
								Aimée Bourgain</h3>
							<blockquote>
								<p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>

						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="images/3-person-brooke-cagle-unsplash.jpg" alt="Image" class="img-fluid">
							</figure>
							<h3 class="name">
								Martine Dumont
							</h3>
							<blockquote>
								<p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
							</blockquote>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
