{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}

{% block body %}

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<div class="hero hero-inner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto text-center">
					<div class="intro-wrap">
						<h1 class="mb-0">CGU</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
				<h2>Conditions Générales d'Utilisation</h2>
				<p style="text-align:justify;">
					Attention : ceci c'est un projet étudiant fictif, pour lequel aucun réel achat ou aucune réservation ne pourrait être effectué					                                                                                .
				</p>
				<br>
				<h3>
					1. Introduction
				</h3>
				<p style="text-align: justify;">Bienvenue sur AtypikHouse, le site web spécialisé dans la location d'hébergements insolites et atypiques en France et en Europe. Les présentes Conditions Générales d'Utilisation régissent votre accès et votre utilisation de notre site web, ainsi que tous les services associés. En accédant au site web AtypikHouse et en l'utilisant, vous acceptez d'être lié par ces CGU, qui établissent une relation contractuelle entre vous et AtypikHouse. Si vous n'acceptez pas ces conditions, vous ne pouvez pas accéder ou utiliser le site web ou les services.</p>
				<br>
				<h3>
					2. Modification des Conditions
				</h3>
				<p style="text-align: justify;">AtypikHouse se réserve le droit de modifier les présentes CGU à tout moment. Toutes les modifications prendront effet immédiatement après leur publication sur le site web. Votre utilisation continue du site après de telles modificationsconstitue votre acceptation de ces nouvelles conditions.</p>
				<br>
				<h3>
					3. Description des Services
				</h3>
				<p style="text-align: justify;">AtypikHouse propose une plateforme en ligne qui permet aux utilisateurs de rechercher, de réserver et de louer des hébergements insolites et atypiques partout en France et en Europe. Les détails de chaque hébergement, y compris les prix, les disponibilités et les équipements, sont fournis par les hôtes et sont sujets à changement sans préavis.</p>
				<br>
				<h3>
					4. Compte Utilisateur
				</h3>
				<p style="text-align: justify;">Pour accéder à certaines fonctionnalités du site, vous devrez créer un compte utilisateur. Vous vous engagez à fournir des informations exactes et complètes lors de la création de votre compte et à les mettre à jour en cas de changement. La confidentialité de votre mot de passe et de votre compte est de votre responsabilité exclusive.</p>
				<br>
				<h3>
					5. Utilisation Acceptable
				</h3>
				<p style="text-align: justify;">Vous vous engagez à ne pas utiliser le site ou les services d'AtypikHouse à des fins illégales ou non autorisées. Vous ne devez pas, dans l'utilisation du service, enfreindre les lois de votre juridiction (y compris, mais sans s'y limiter, les lois sur le droit d'auteur).</p>
				<br>
				<h3>
					6. Responsabilités des Utilisateurs et des Hôtes
				</h3>
				<p style="text-align: justify;">Les utilisateurs sont seuls responsables de leurs actions et de leurs interactions avec les autres utilisateurs et hôtes sur le site. AtypikHouse n'a pas d'obligation de surveiller les conflits entre vous et d'autres utilisateurs, mais peut intervenir à sa discrétion.</p>
				<br>
				<h3>
					7. Droits de Propriété Intellectuelle
				</h3>
				<p style="text-align: justify;">( Attention : ceci c'est un projet étudiant fictif )</p>
				<p style="text-align: justify;">Tout le contenu du site, y compris les textes, graphiques, logos, images, ainsi que la compilation de ce contenu, est la propriété exclusive d'AtypikHouse ou de ses fournisseurs de contenu et est protégé par les lois sur le droit d'auteur, les marques commerciales et autres droits de propriété intellectuelle ou droits de propriété.
				</p>
				<br>
				<h3>
					8. Limitation de Responsabilité
				</h3>
				<p style="text-align: justify;">AtypikHouse ne peut être tenu responsable des dommages directs, indirects, accidentels, spéciaux, consécutifs ou exemplaires, y compris, mais sans s'y limiter, les pertes de profit, de clientèle, d'usage, de données ou autres pertes intangibles résultant de l'utilisation ou de l'impossibilité d'utiliser le service.</p>
				<br>
				<h3>
					9. Indemnisation
				</h3>
				<p style="text-align: justify;">Vous acceptez d'indemniser et de dégager de toute responsabilité AtypikHouse, ses filiales, affiliés, partenaires, et leurs dirigeants,agents, employés, annonceurs, de toute réclamation ou demande, y compris les honoraires d'avocats raisonnables, faite par un tiers en raison de ou découlant de votre violation des présentes CGU ou de votre violation des droits d'un tiers.</p>
				<br>
				<h3>
					10. Généralités
				</h3>
				<p style="text-align: justify;">Ces CGU sont régies et interprétées conformément aux lois du pays de l'opérateur du site web. Si une disposition des présentes</p>
				<p style="text-align: justify;">CGU est jugée invalide ou inapplicable, cette disposition sera supprimée et les dispositions restantes seront appliquées.<p/>
				<br>
				<h3>
					11. Contact
				</h3>
				</p>
				<p style="text-align: justify;">Pour toute question concernant ces CGU, veuillez nous contacter via ceci c'est un projet étudiant fictif.</p>
				<br>
			</div>
		</div>
	</div>
</div>{% endblock %}
