{% extends 'base.html.twig' %}

{% block title %}Modifier la maison{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Modifier la maison</div>

                    <div class="card-body">
                        {{ include('proprietaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    </div>
                </div>

                <div class="mt-3">
                    <a href="{{ path('app_proprio_index') }}" class="btn btn-secondary mr-2">Retour à la liste</a>
                  
                    <a href="{{ path('app_facility_new', {'id': house.id}) }}">Create new</a> 
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}
